.cardHighlight {
  min-height: 100%;
  background-color: palegreen !important;
}

.aboutRow {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: palegreen !important;
  background-image: url('../public/images/green.jpg');
  background-size: cover;

}

.banner {
  margin-bottom: 16px;
}

.link__icon {
  width: 50px;
  height: 50px;
  color: #70A9A1;
}

.link__icon:hover {
  width: 90px;
  height: 70px;
  background-color: ghostwhite;
  border-radius: 10px;
  transition: 0.5s;
}

.link__text {
  color: #70A9A1; 
}

.link__text:hover {
  text-decoration: none;
  color: #70A9A1;
  background-color: ghostwhite;
  border-radius: 10px;
  transition: 0.5s;
}

.navi {
  margin-right: 3px;
  color: black !important;
  text-decoration: none;
}

.nav__collapse {
  background-color: #FBF6EF;
}

.navi:hover {
  box-shadow: #237653 5px 5px 12px;
  border-radius: 3px;
  background-color: #237653;
  color: ghostwhite !important;
  animation: ease-in;
  transition: 0.4s;
}

.dropdown {
  color: black !important;
}

.dropdown:hover {
  border-radius: 3px;
  color: black !important;
  font-size: large;
  font-style: bolder;
  transition: 0.2s;
}

.dropdown-menu.show{
  color: black !important;
}

.card__img {
  margin-top: 20px;
  width: 100%;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
}

.card__imgview{
  width:  300px;
  height:  300px;
  position: center;
  object-fit: cover;
  
}

.card__btn:hover {
  box-shadow: 5px 5px 12px #237653;
}

.card__text {
  font-size: small;
}

.card__price {
  font-size: medium;
  float: left;
}

.view__card{
  widows: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #F4E9CD;
}

.prod__card{
  height: 550px;
  margin: 10px;
  box-shadow: 5px 5px 12px gray;
}

.form__view{
  height: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.5px;
  background-color: #F4E9CD;
}

.form__login {
  height: 100%;
  width: 75%;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.5px;
  background-color: #F4E9CD;
}

.form__reg {
  height: 100%;
  width: 75%;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.5px;
  background-color: #F4E9CD;
}

.text__banner1{
  font-size: 40px;
}

.text__banner2{
  margin: 0;
  font-size: 25px;
}

.text__banner3{
  margin: 0;
  font-size: 23px;
  font-style: italic;
}

.text__bold{
  font-family: 'Poppins', sans-serif;
  color: #237653;
}

.test__nav {
  background-color: ghostwhite;
  height: 70px;
  box-shadow: 5px 5px 12px gray;
}

.test__footer {
  background-color: green;
}